.button {
  display: block;
  max-width: max-content;
  padding: 11px 18px;
  margin: 11px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #9f0013;
  border: none;
  cursor: pointer;
}
.gray {
  background: #5c5c5c;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.disabled {
  pointer-events: none; /* Отключает все события мыши */
  opacity: 0.6; /* Делаем кнопку полупрозрачной, чтобы показать, что она неактивна */
  cursor: not-allowed; /* Меняем курсор на "запрещено" */
}
