.img {
  display: block;
  width: 225px;
  height: 346px;
  object-fit: cover;
  object-position: left;
}
.title {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.price {
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
