.wrap {
}
.ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  margin: 0;
  padding: 0;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 574px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loader {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
